name: Windows/MacOS/Linux Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build-macos:
    name: MacOS Build
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build and Package for MacOS
      run: |
        make OS=linux BUILD_TYPE=release CFLAGS="-O3 -Wall -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64 -DPOLARSSL -DBUILD_DATE=\\\"$(date +%Y%m%d)\\\" -DNDEBUG -I./include" LIBS="-lstdc++ -lpthread"
        
        # Create staging directory structure
        mkdir -p pkg-root/usr/local/bin
        cp ps3netsrv pkg-root/usr/local/bin/
        
        # Build the package
        pkgbuild --root pkg-root --identifier com.aldostools.ps3netsrv --version $(date +%Y%m%d) --install-location / ps3netsrv_macos.pkg

    - name: Upload MacOS Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ps3netsrv_macos
        path: ps3netsrv_macos.pkg

  build-windows:
    name: Windows 64-bit Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install MinGW-w64
      run: sudo apt-get update && sudo apt-get install -y mingw-w64

    - name: Build for Windows 64-bit
      run: |
        make OS=cross CC=x86_64-w64-mingw32-gcc CXX=x86_64-w64-mingw32-g++ BUILD_DATE=$(date +%Y%m%d)
        mv ps3netsrv.exe ps3netsrv_win64.exe

    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ps3netsrv_win64
        path: ps3netsrv_win64.exe

  build-linux:
    name: Linux (${{ matrix.distro }}) Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: ubuntu-latest
            image: ubuntu:latest
            install_cmd: apt-get update && apt-get install -y build-essential git
            package_type: deb
          - distro: debian-latest
            image: debian:latest
            install_cmd: apt-get update && apt-get install -y build-essential git
            package_type: deb
          - distro: fedora-latest
            image: fedora:latest
            install_cmd: dnf install -y gcc-c++ make git glibc-static libstdc++-static rpm-build
            package_type: rpm
          - distro: arch-latest
            image: archlinux:latest
            install_cmd: pacman -Syu --noconfirm base-devel git
            package_type: binary
          - distro: almalinux-latest
            image: almalinux:latest
            install_cmd: dnf install -y gcc-c++ make git glibc-static libstdc++-static rpm-build
            package_type: rpm

    container:
      image: ${{ matrix.image }}

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: ${{ matrix.install_cmd }}

    - name: Build
      run: make OS=linux BUILD_DATE=$(date +%Y%m%d)

    - name: Package .deb (Debian/Ubuntu)
      if: matrix.package_type == 'deb'
      run: |
        PACKAGE_NAME="ps3netsrv_${{ matrix.distro }}_amd64.deb"
        mkdir -p package/DEBIAN package/usr/local/bin
        cp ps3netsrv package/usr/local/bin/
        chmod 755 package/usr/local/bin/ps3netsrv
        
        # Create control file
        echo "Package: ps3netsrv" > package/DEBIAN/control
        echo "Version: $(date +%Y%m%d)" >> package/DEBIAN/control
        echo "Architecture: amd64" >> package/DEBIAN/control
        echo "Maintainer: Aldo Vargas <aldostools@gmail.com>" >> package/DEBIAN/control
        echo "Description: PS3 Net Server" >> package/DEBIAN/control
        
        dpkg-deb --build package "$PACKAGE_NAME"
        echo "PACKAGED_FILE=$PACKAGE_NAME" >> $GITHUB_ENV

    - name: Package .rpm (Fedora/AlmaLinux)
      if: matrix.package_type == 'rpm'
      run: |
        mkdir -p rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS}
        cp ps3netsrv rpmbuild/SOURCES/
        
        # Create spec file
        cat <<EOF > rpmbuild/SPECS/ps3netsrv.spec
        Name: ps3netsrv
        Version: $(date +%Y%m%d)
        Release: 1
        Summary: PS3 Net Server
        License: GPL
        Group: Applications/Internet
        
        %description
        PS3 Net Server application.
        
        %install
        mkdir -p %{buildroot}/usr/local/bin
        install -m 755 %{_sourcedir}/ps3netsrv %{buildroot}/usr/local/bin/ps3netsrv
        
        %files
        /usr/local/bin/ps3netsrv
        EOF
        
        rpmbuild --define "_topdir $(pwd)/rpmbuild" -bb rpmbuild/SPECS/ps3netsrv.spec
        
        # Move and rename
        RPM_FILE=$(find rpmbuild/RPMS -name "*.rpm")
        NEW_NAME="ps3netsrv_${{ matrix.distro }}_amd64.rpm"
        mv "$RPM_FILE" "$NEW_NAME"
        echo "PACKAGED_FILE=$NEW_NAME" >> $GITHUB_ENV

    - name: Prepare Binary Artifact (Arch/Others)
      if: matrix.package_type == 'binary'
      run: |
        mv ps3netsrv ps3netsrv_${{ matrix.distro }}_amd64
        echo "PACKAGED_FILE=ps3netsrv_${{ matrix.distro }}_amd64" >> $GITHUB_ENV

    - name: Upload Linux Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ps3netsrv_${{ matrix.distro }}_amd64
        path: ${{ env.PACKAGED_FILE }}

