name: Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build-macos:
    name: MacOS Build
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build and Package for MacOS
      run: |
        make OS=linux BUILD_TYPE=release CFLAGS="-O3 -Wall -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64 -DPOLARSSL -DBUILD_DATE=\\\"$(date +%Y%m%d)\\\" -DNDEBUG -I./include" LIBS="-lstdc++ -lpthread"
        
        # Create staging directory structure
        mkdir -p pkg-root/usr/local/bin
        cp ps3netsrv pkg-root/usr/local/bin/
        
        # Build the package
        pkgbuild --root pkg-root --identifier com.aldostools.ps3netsrv --version $(date +%Y%m%d) --install-location / ps3netsrv_macos.pkg

    - name: Upload MacOS Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ps3netsrv_macos
        path: ps3netsrv_macos.pkg

  build-windows:
    name: Windows 64-bit Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install MinGW-w64
      run: sudo apt-get update && sudo apt-get install -y mingw-w64

    - name: Build for Windows 64-bit
      run: |
        make OS=cross CC=x86_64-w64-mingw32-gcc CXX=x86_64-w64-mingw32-g++ BUILD_DATE=$(date +%Y%m%d)
        mv ps3netsrv.exe ps3netsrv_win64.exe

    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ps3netsrv_win64
        path: ps3netsrv_win64.exe

  build-linux:
    name: Linux (${{ matrix.distro }}) Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: ubuntu-latest
            image: ubuntu:latest
            install_cmd: apt-get update && apt-get install -y build-essential git
            package_type: deb
          - distro: debian-latest
            image: debian:latest
            install_cmd: apt-get update && apt-get install -y build-essential git
            package_type: deb
          - distro: fedora-latest
            image: fedora:latest
            install_cmd: dnf install -y gcc-c++ make git glibc-static libstdc++-static rpm-build
            package_type: rpm
          - distro: arch-latest
            image: archlinux:latest
            install_cmd: pacman -Syu --noconfirm base-devel git
            package_type: binary
          - distro: almalinux-latest
            image: almalinux:latest
            install_cmd: dnf install -y gcc-c++ make git glibc-static libstdc++-static rpm-build
            package_type: rpm

    container:
      image: ${{ matrix.image }}

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: ${{ matrix.install_cmd }}

    - name: Build
      run: make OS=linux BUILD_DATE=$(date +%Y%m%d)

    - name: Package .deb (Debian/Ubuntu)
      if: matrix.package_type == 'deb'
      run: |
        PACKAGE_NAME="ps3netsrv_${{ matrix.distro }}_amd64.deb"
        mkdir -p package/DEBIAN package/usr/local/bin
        cp ps3netsrv package/usr/local/bin/
        chmod 755 package/usr/local/bin/ps3netsrv
        
        # Create control file
        echo "Package: ps3netsrv" > package/DEBIAN/control
        echo "Version: $(date +%Y%m%d)" >> package/DEBIAN/control
        echo "Architecture: amd64" >> package/DEBIAN/control
        echo "Maintainer: Aldo Vargas <aldostools@gmail.com>" >> package/DEBIAN/control
        echo "Description: PS3 Net Server" >> package/DEBIAN/control
        
        dpkg-deb --build package "$PACKAGE_NAME"
        echo "PACKAGED_FILE=$PACKAGE_NAME" >> $GITHUB_ENV

    - name: Package .rpm (Fedora/AlmaLinux)
      if: matrix.package_type == 'rpm'
      run: |
        mkdir -p rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS}
        cp ps3netsrv rpmbuild/SOURCES/
        
        # Create spec file
        cat <<EOF > rpmbuild/SPECS/ps3netsrv.spec
        Name: ps3netsrv
        Version: $(date +%Y%m%d)
        Release: 1
        Summary: PS3 Net Server
        License: GPL
        Group: Applications/Internet
        
        %description
        PS3 Net Server application.
        
        %install
        mkdir -p %{buildroot}/usr/local/bin
        install -m 755 %{_sourcedir}/ps3netsrv %{buildroot}/usr/local/bin/ps3netsrv
        
        %files
        /usr/local/bin/ps3netsrv
        EOF
        
        rpmbuild --define "_topdir $(pwd)/rpmbuild" -bb rpmbuild/SPECS/ps3netsrv.spec
        
        # Move and rename
        RPM_FILE=$(find rpmbuild/RPMS -name "*.rpm")
        NEW_NAME="ps3netsrv_${{ matrix.distro }}_amd64.rpm"
        mv "$RPM_FILE" "$NEW_NAME"
        echo "PACKAGED_FILE=$NEW_NAME" >> $GITHUB_ENV

    - name: Prepare Binary Artifact (Arch/Others)
      if: matrix.package_type == 'binary'
      run: |
        mv ps3netsrv ps3netsrv_${{ matrix.distro }}_amd64
        echo "PACKAGED_FILE=ps3netsrv_${{ matrix.distro }}_amd64" >> $GITHUB_ENV

    - name: Upload Linux Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ps3netsrv_${{ matrix.distro }}_amd64
        path: ${{ env.PACKAGED_FILE }}

  build-openwrt:
    name: OpenWrt (${{ matrix.platform }})
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        platform: [mips_24kc, mipsel_24kc, aarch64_cortex-a53, aarch64_cortex-a72, arm_cortex-a9_vfpv3-d16, mips_4kec, mips_mips32, mipsel_24kc_24kf, mipsel_74kc, mipsel_mips32, mips64_octeonplus, powerpc_464fp, powerpc_8540, aarch64_generic, arm_arm926ej-s, arm_arm1176jzf-s_vfp, arm_cortex-a15_neon-vfpv4, arm_cortex-a5_vfpv4, arm_cortex-a7, arm_cortex-a7_neon-vfpv4, arm_cortex-a8_vfpv3, arm_cortex-a9, arm_cortex-a9_neon, arm_fa526, arm_mpcore, arm_xscale, x86_64, i386_pentium4, i386_pentium-mmx]
        include:
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/ath79/generic/openwrt-sdk-22.03.3-ath79-generic_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mips_24kc
            upload_name: ps3netsrv_mips_24kc
            build_path: openwrt-sdk-22.03.3-ath79-generic_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/ramips/mt7621/openwrt-sdk-22.03.3-ramips-mt7621_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mipsel_24kc
            upload_name: ps3netsrv_mipsel_24kc
            build_path: openwrt-sdk-22.03.3-ramips-mt7621_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/mvebu/cortexa53/openwrt-sdk-22.03.3-mvebu-cortexa53_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: aarch64_cortex-a53
            upload_name: ps3netsrv_aarch64_cortex-a53
            build_path: openwrt-sdk-22.03.3-mvebu-cortexa53_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/mvebu/cortexa72/openwrt-sdk-22.03.3-mvebu-cortexa72_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: aarch64_cortex-a72
            upload_name: ps3netsrv_aarch64_cortex-a72
            build_path: openwrt-sdk-22.03.3-mvebu-cortexa72_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/mvebu/cortexa9/openwrt-sdk-22.03.3-mvebu-cortexa9_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a9_vfpv3-d16
            upload_name: ps3netsrv_arm_cortex-a9_vfpv3-d16
            build_path: openwrt-sdk-22.03.3-mvebu-cortexa9_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/realtek/rtl838x/openwrt-sdk-22.03.3-realtek-rtl838x_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mips_4kec
            upload_name: ps3netsrv_mips_4kec
            build_path: openwrt-sdk-22.03.3-realtek-rtl838x_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/bcm63xx/generic/openwrt-sdk-22.03.3-bcm63xx-generic_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mips_mips32
            upload_name: ps3netsrv_mips_mips32
            build_path: openwrt-sdk-22.03.3-bcm63xx-generic_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/pistachio/generic/openwrt-sdk-22.03.3-pistachio_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mipsel_24kc_24kf
            upload_name: ps3netsrv_mipsel_24kc_24kf
            build_path: openwrt-sdk-22.03.3-pistachio_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/bcm47xx/mips74k/openwrt-sdk-22.03.3-bcm47xx-mips74k_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mipsel_74kc
            upload_name: ps3netsrv_mipsel_74kc
            build_path: openwrt-sdk-22.03.3-bcm47xx-mips74k_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/bcm47xx/generic/openwrt-sdk-22.03.3-bcm47xx-generic_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mipsel_mips32
            upload_name: ps3netsrv_mipsel_mips32
            build_path: openwrt-sdk-22.03.3-bcm47xx-generic_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/octeon/generic/openwrt-sdk-22.03.3-octeon-generic_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: mips64_octeonplus
            upload_name: ps3netsrv_mips64_octeonplus
            build_path: openwrt-sdk-22.03.3-octeon-generic_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/apm821xx/nand/openwrt-sdk-22.03.3-apm821xx-nand_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: powerpc_464fp
            upload_name: ps3netsrv_powerpc_464fp
            build_path: openwrt-sdk-22.03.3-apm821xx-nand_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/mpc85xx/p1010/openwrt-sdk-22.03.3-mpc85xx-p1010_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: powerpc_8540
            upload_name: ps3netsrv_powerpc_8540
            build_path: openwrt-sdk-22.03.3-mpc85xx-p1010_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/layerscape/armv8_64b/openwrt-sdk-22.03.3-layerscape-armv8_64b_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: aarch64_generic
            upload_name: ps3netsrv_aarch64_generic
            build_path: openwrt-sdk-22.03.3-layerscape-armv8_64b_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/at91/sam9x/openwrt-sdk-22.03.3-at91-sam9x_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_arm926ej-s
            upload_name: ps3netsrv_arm_arm926ej-s
            build_path: openwrt-sdk-22.03.3-at91-sam9x_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/bcm27xx/bcm2708/openwrt-sdk-22.03.3-bcm27xx-bcm2708_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_arm1176jzf-s_vfp
            upload_name: ps3netsrv_arm_arm1176jzf-s_vfp
            build_path: openwrt-sdk-22.03.3-bcm27xx-bcm2708_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/armvirt/32/openwrt-sdk-22.03.3-armvirt-32_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a15_neon-vfpv4
            upload_name: ps3netsrv_arm_cortex-a15_neon-vfpv4
            build_path: openwrt-sdk-22.03.3-armvirt-32_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/at91/sama5/openwrt-sdk-22.03.3-at91-sama5_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a5_vfpv4
            upload_name: ps3netsrv_arm_cortex-a5_vfpv4
            build_path: openwrt-sdk-22.03.3-at91-sama5_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/mediatek/mt7629/openwrt-sdk-22.03.3-mediatek-mt7629_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a7
            upload_name: ps3netsrv_arm_cortex-a7
            build_path: openwrt-sdk-22.03.3-mediatek-mt7629_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/bcm27xx/bcm2709/openwrt-sdk-22.03.3-bcm27xx-bcm2709_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a7_neon-vfpv4
            upload_name: ps3netsrv_arm_cortex-a7_neon-vfpv4
            build_path: openwrt-sdk-22.03.3-bcm27xx-bcm2709_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/omap/generic/openwrt-sdk-22.03.3-omap_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a8_vfpv3
            upload_name: ps3netsrv_arm_cortex-a8_vfpv3
            build_path: openwrt-sdk-22.03.3-omap_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/bcm53xx/generic/openwrt-sdk-22.03.3-bcm53xx-generic_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a9
            upload_name: ps3netsrv_arm_cortex-a9
            build_path: openwrt-sdk-22.03.3-bcm53xx-generic_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/imx/cortexa9/openwrt-sdk-22.03.3-imx-cortexa9_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_cortex-a9_neon
            upload_name: ps3netsrv_arm_cortex-a9_neon
            build_path: openwrt-sdk-22.03.3-imx-cortexa9_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/gemini/generic/openwrt-sdk-22.03.3-gemini_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_fa526
            upload_name: ps3netsrv_arm_fa526
            build_path: openwrt-sdk-22.03.3-gemini_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/oxnas/ox820/openwrt-sdk-22.03.3-oxnas-ox820_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_mpcore
            upload_name: ps3netsrv_arm_mpcore
            build_path: openwrt-sdk-22.03.3-oxnas-ox820_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/kirkwood/generic/openwrt-sdk-22.03.3-kirkwood_gcc-11.2.0_musl_eabi.Linux-x86_64.tar.xz
            platform: arm_xscale
            upload_name: ps3netsrv_arm_xscale
            build_path: openwrt-sdk-22.03.3-kirkwood_gcc-11.2.0_musl_eabi.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/x86/64/openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: x86_64
            upload_name: ps3netsrv_x86_64
            build_path: openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/x86/generic/openwrt-sdk-22.03.3-x86-generic_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: i386_pentium4
            upload_name: ps3netsrv_i386_pentium4
            build_path: openwrt-sdk-22.03.3-x86-generic_gcc-11.2.0_musl.Linux-x86_64
          - sdk_url: https://downloads.openwrt.org/releases/22.03.3/targets/x86/geode/openwrt-sdk-22.03.3-x86-geode_gcc-11.2.0_musl.Linux-x86_64.tar.xz
            platform: i386_pentium-mmx
            upload_name: ps3netsrv_i386_pentium-mmx
            build_path: openwrt-sdk-22.03.3-x86-geode_gcc-11.2.0_musl.Linux-x86_64

    steps:
    - uses: actions/checkout@v4

    - name: Prepare build environment
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential curl file gawk gettext git libncurses5-dev libssl-dev python2 python3 rsync subversion sudo swig unzip wget zlib1g-dev

    - name: Download SDK
      run: |
        wget -c ${{ matrix.sdk_url }} -O sdk.tar.xz
        tar xf sdk.tar.xz
        rm sdk.tar.xz
        mv ${{ matrix.build_path }} sdk

    - name: Configure SDK and Package
      run: |
        cd sdk
        
        # Prepare package directory for ps3netsrv
        mkdir -p package/ps3netsrv
        
        # Copy OpenWrt Makefiles and patches
        cp -r $GITHUB_WORKSPACE/openwrt/* package/ps3netsrv/
        
        # Copy actual source code to a subdirectory 'src_code' inside the package
        mkdir -p package/ps3netsrv/src_code
        cp $GITHUB_WORKSPACE/Makefile package/ps3netsrv/src_code/
        cp $GITHUB_WORKSPACE/Makefile.linux package/ps3netsrv/src_code/
        cp -r $GITHUB_WORKSPACE/include package/ps3netsrv/src_code/
        cp -r $GITHUB_WORKSPACE/src package/ps3netsrv/src_code/
        # Switch to GitHub mirrors to avoid 503 errors
        sed -i 's|https://git.openwrt.org/feed/|https://github.com/openwrt/|g' feeds.conf.default
        sed -i 's|https://git.openwrt.org/project/|https://github.com/openwrt/|g' feeds.conf.default
        sed -i 's|https://git.openwrt.org/openwrt/|https://github.com/openwrt/|g' feeds.conf.default

        # Update feeds
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        
        make defconfig

    - name: Build ps3netsrv
      run: |
        cd sdk
        make package/ps3netsrv/compile V=s

    - name: Prepare Artifact
      run: |
        # Find the .ipk file
        IPK_FILE=$(find sdk/bin/packages -name "ps3netsrv*.ipk")
        echo "Found IPK: $IPK_FILE"
        echo "IPK_PATH=$IPK_FILE" >> $GITHUB_ENV
    
    - name: Upload OpenWrt Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.upload_name }}_openwrt
        path: ${{ env.IPK_PATH }}
